hi app is working.
<button mat-raised-button color="primary" (click)="enableNoSleep()">Screen Lock</button>
				<button mat-raised-button color="accent" (click)="disableNoSleep()">Screen Sleep</button>
				<p [ngClass]="{ 'enabledLock': wakeLockEnabled == true, 'disabledLock': wakeLockEnabled == false }">
					{{wakeLockEnabled ? 'Screen Locked' : 'Screen Unlocked'}}
        </p>        

        <iframe width="420" height="315"
src="https://www.youtube.com/embed/tgbNymZ7vqY">
</iframe>

<video  width="320" height="176" controls="controls" autoplay="true" loop>
  <source src="../assets/ads.mp4" type="video/mp4">
  <!-- <source src="mov_bbb.ogg" type="video/ogg"> -->
  Your browser does not support HTML5 video.
</video>
<router-outlet></router-outlet>